@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.sidebar-container {
    position: relative;
}

.sidebar{
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: white;
    transition: left 0.3s ease;
    padding: 20px;
    z-index: 1000;
}

.sidebar.open{
    left:0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 0;
  align-items: center;
  padding: 10px 0;
  margin: 10px 0;
  border: 2px solid black;
}

.sidebar li svg {
  margin-right: 8px;
  flex-shrink: 0;
}

.sidebar-links a {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

/*
.sidebar li:hover {
  background-color: rgb(0, 106, 255);
}
*/

.sidebar li:last-child {
  border: none;
  margin-top: 450px;
}


.sidebar-links li{
    margin: 20px 0;
}

.sidebar-links a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: bold;
}

.sidebar-links li button {
  color: black;
  background-color: white;
  font-family: "Roboto";
  font-size: 16px;
  margin-right: 150px;
  text-decoration: none;
  transition: color 0.3s ease;
  border-width: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: -2px;
}

.sidebar-links li button:hover {
  background-color: blue;
  color: #fff;
}

.sidebar-links a:hover {
    color: blue;
  }
  
  .close-btn {
    position: absolute;
    top: 360px;
    right: -38px;
    background-color: blue;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
  }

  .close-btn svg {
    padding: 0;
    margin: 0;
  }
  
  .close-btn:hover {
    background-color: #bbb;
  }
  
  /* OPEN SIDEBAR*/

  .sidebar-overlay {
    display: none;
  }
  

  .sidebar-overlay.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; 
  }

  .sidebar-logo {
    margin-bottom: 1px;
    border-radius: 10px;
    margin-top: 90px;
  }

.sb-dropdown{
  list-style-type: none;
  padding-left: 30px;
  margin-top: 10px;
  border: 1px;
  border-radius: 5px;
  background-color: none;
  animation: slideDown 0.3s ease; 
  align-items: center;
  }

  .sb-dropdown-li{
    padding: 5px 10px;
    padding-left: 10px;
  }
  
  .dd-li{
    padding: 0px 0;
  }

  .sb-dropdown a{
    padding-left: 20px;
    font-size: small;
    text-align: center;
  }

  .sb-dropdown-btn {
    background: none;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-family: "Montserrat";
  }
  
  .sb-dropdown-btn svg {
    flex-shrink: 0;
  }
  
  @keyframes slideDown {
    from {
      opacity: 0;
      max-height: 0;
    }
    to {
      opacity: 1;
      max-height: 500px;
    }
  }